<div class="d-flex align-items-center mb-4 mb-lg-0">
  <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
  <div class="ms-3">
    <h4 class="mb-3"><strong>Name:</strong>  <%= @user.name %></h4>
    <p><strong>Hobby:</strong> <%= @user.hobby %></p>
    <p><strong>profile:</strong> <%= @user.profile %></p>
    <p><%= render partial: 'following_botton' %><p>
  </div>
</div>