<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <% if current_user == attendee %>
      <%= link_to mypage_profile_path do %>
        <%= image_tag attendee.decorate.avatar, class: 'rounded-circle avatar-md' %>
        <%= attendee.name %>
      <% end %>
    <% else %>
      <%= link_to profile_path(attendee) do %>
        <%= image_tag attendee.decorate.avatar, class: 'rounded-circle avatar-md' %>
        <%= attendee.name %>
      <% end %>
    <% end %>
  </div>
</li>

